certifi==2019.3.9
chardet==3.0.4
defusedxml==0.6.0
Django==2.1.7
django-allauth==0.39.1
djangorestframework==3.9.2
et-xmlfile==1.0.1
idna==2.8
jdcal==1.4.1
mysqlclient==1.4.2.post1
numpy==1.16.4
oauthlib==3.0.1
openpyxl==2.6.2
psycopg2==2.8.2
python3-openid==3.1.0
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
sqlparse==0.3.0
urllib3==1.26.5
