{% load static %}
{% include "include/header.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <section class="content-header">
          <h1>커뮤니티 그룹
            <small>Community Group</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 커뮤니티 그룹</a></li>
          </ol>
      </section>
    <!-- Content Header (Page header) -->
    <section class="content container-fluid">

      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h4>커뮤니티 그룹</h4>
          </div>
          <div class="box-body">
            <div class="col-md-12">
                <table class="table table-bordered table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th class="col-md-10">커뮤니티 그룹명</td>
                            <th class="col-md-2">관리</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for community in community_list %}
                        <tr>
                            <td>{{ community.name }}</td>
                            <td>
                                <button class="btn btn-warning btn-xs">수정</button>
                                <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete_modal">삭제</button>
                            </td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td></td>
                            <td>
                                <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#add_modal">추가</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
          <div class="box-footer"></div>
        </div>
      </div>

      <!--Delete Modal-->
      <div class="modal fade" id="delete_modal" role="dialog" style="display: none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="header"><b>정말로 삭제하시겠습니까?</b></h4>
                    </div>
                    <div class="modal-body">
                        <label>커뮤니티 그룹명</label>
                        <div class="form-control"></div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-12">
                              <button class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
                              <button class="btn btn-danger pull-right" data-dismiss="modal">삭제</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--add modal-->
        <div class="modal fade" id="add_modal" role="dialog" style="display: none">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="header"><b>생성창</b></h4>
                        </div>
                        <div class="modal-body">
                            <label>커뮤니티 그룹명</label>
                            <input class="form-control">
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-12">
                                  <button class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
                                  <button class="btn btn-primary pull-right" data-dismiss="modal">추가</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% include "include/footer.html" %}