{% load static %}
{% include "include/header.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <section class="content-header">
          <h1>학과 리스트
            <small>Department List</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 학과 리스트</a></li>
          </ol>
      </section>
    <!-- Content Header (Page header) -->
    <section class="content container-fluid">

      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header">
            <h4>
                학과관리 - 세종대학교
            </h4>
          </div>
          <div class="box-body">
            <div class="col-md-12">
                <table class="table table-bordered table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th class="col-md-1">번호</th>
                            <th class="col-md-3">단과대명</th>
                            <th class="col-md-3">학과명</th>
                            <th class="col-md-2">동일학과번호</th>
                            <th class="col-md-2">커뮤니티그룹</th>
                            <th style="width: 100px">관리</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button class="btn btn-warning btn-xs">수정</button>
                                <button class="btn btn-danger btn-xs">삭제</button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button class="btn btn-primary btn-xs">추가</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
          <div class="box-footer"></div>
        </div>
      </div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% include "include/footer.html" %}