{% load static %}
{% include "include/header.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="col-md-4" style="float:none; margin:0 auto;">
            <div class="row">
                <div class="title">
                    <h2><p>대학을 찾아주세요.</p>
                    회원님의 학교에 맞게 일정관리를 도와드립니다.</h2>
                </div>
            </div>
            <br>
            <form action="." method="post">{% csrf_token %}
            </form>
            <div class="row">
                    <div class="form-group">
                            <label>대학교</label>
                            {{ form.university }}
                        </div>
            </div>
            <div class="row">
                    <div class="form-group">
                        <label>주 전공</label>
                        {{ form.major }}
                    </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>복수 전공</label>
                    {{ form.multi_major }}
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>부 전공</label>
                    {{ form.sub_major }}
                </div>
            </div>
            <div class="row">
                    <div class="form-group">
                        <label>입학년도</label>
                        {{ form.admission_year }}
                    </div>
            </div>
            <div class="row">
              <div style="display: inline; margin-left:20%">
                <input type="checkbox"><span>동의</span>
              </div>
              <div style="display:inline; width:25%" class="pull-right">
                <input type="checkbox"><span>동의</span>
              </div>
            </div>
            <div class="row" style="text-align: center"><br>
                <button class="btn btn-primary" style="width: 100%">회원가입 완료</button>
            </div>
        </div>
      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% include "include/footer.html" %}