{% load static %}
{% include "include/header.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="col-md-4" style="float:none; margin:0 auto;">
            <div class="row">
                <div class="title">
                    <h2><p>대학을 찾아주세요.</p>
                    회원님의 학교에 맞게 일정관리를 도와드립니다.</h2>
                </div>
            </div>
            <br>
            <form action="." method="post">{% csrf_token %}
            <div class="row">
                    <div class="form-group">
                            <label>대학교</label>
                            {{ form.university }}
                        </div>
            </div>
            <div class="row">
                    <div class="form-group">
                        <label>주 전공</label>
                        {{ form.major }}
                    </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>복수 전공</label>
                    {{ form.multi_major }}
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>부 전공</label>
                    {{ form.sub_major }}
                </div>
            </div>
            <div class="row">
                    <div class="form-group">
                        <label>입학년도</label>
                        {{ form.admission_year }}
                    </div>
            </div>
            <div class="row">
              <div style="display: inline; margin-left:20%">
                <input type="checkbox"><span>동의</span>
              </div>
              <div style="display:inline; width:25%" class="pull-right">
                <input type="checkbox"><span>동의</span>
              </div>
            </div>
            <div class="row" style="text-align: center"><br>
                <button type="submit" class="btn btn-primary" style="width: 100%">회원가입 완료</button>
            </div>
            </form>
        </div>
      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<script>

$(document).ready(function(){

//초기 학번 설정
var current_year = new Date().getFullYear() + 1;
for(var year=1950; year <= current_year ; current_year--) {
    $("select[name='admission_year']").append("<option value='"+current_year+"'>"+current_year+" 학번"+"</option>")
}



});

    //대학 수정시 학과 변동
    $("select[name='university']").change(function() {
        $.ajax({
            url: '/university/api/department/',
            type: 'get',
            data: {
                'university' : $("select[name='university']").val()
            },
            success: function (result) {

                //셀렉트 박스 초기화
                $("select[name='major']").empty()
                $("select[name='multi_major']").empty()
                $("select[name='sub_major']").empty()

                $("select[name='multi_major']").append("<option value selected>없음</option>")
                $("select[name='sub_major']").append("<option value selected>없음</option>")

                //대학에 맞는 초기 학과 정보 로드
                for(var key in result){
                    $("select[name='major']").append("<option value='"+result[key].id+"'>"+result[key].college_name+" : "+result[key].name+"</option>");
                    $("select[name='multi_major']").append("<option value='"+result[key].id+"'>"+result[key].college_name+" : "+result[key].name+"</option>");
                    $("select[name='sub_major']").append("<option value='"+result[key].id+"'>"+result[key].college_name+" : "+result[key].name+"</option>");
                }

                $("select[name='major']").select2()
                $("select[name='multi_major']").select2()
                $("select[name='sub_major']").select2()

            },
            error:function(request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        })
})
</script>

{% include "include/footer.html" %}