{% load static %}
{% include "include/header.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="col-md-4" style="float:none; margin:0 auto;">
            <div class="row">
                <div class="title">
                    <h2><p>대학을 찾아주세요.</p>
                    회원님의 학교에 맞게 일정관리를 도와드립니다.</h2>
                </div>
            </div>
            <br>
            <div class="row">
                    <div class="form-group">
                            <label>대학교</label>
                            <select class="form-control select2" style="width:100%"  id="college_name" onchange="categoryChange(this)">
                                    <option>대학을 선택해주세요.</option>
                                    <option value="u1">서울대학교</option>
                                    <option value="u2">세종대학교</option>
                                    <option value="u3">고려대학교</option>
                                    <option value="u4">연세대학교</option>
                                    <option value="u5">안산대학교</option>
                            </select>
                        </div>
            </div>
            <div class="row">
                    <div class="form-group">
                        <label>주 전공</label>
                        <select class="form-control select2" style="width:100%"  id="major_subject">
                            <option>주 전공을 선택해주세요.</option>
                        </select>
                    </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>복수 전공</label>
                    <select class="form-control select2" style="width:100%"  id="major_subject">
                        <option>복수 전공을 선택해주세요.</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>부 전공</label>
                    <select class="form-control select2" style="width:100%"  id="major_subject">
                        <option>부 전공을 선택해주세요.</option>
                    </select>
                </div>
            </div>
            <div class="row">
                    <div class="form-group">
                        <label>입학년도</label>
                        <select class="form-control select2" style="width:100%" id="admission_year">
                            <option>입학년도를 설정해주세요</option>
                        </select>
                    </div>
            </div>
            <div class="row">
              <div style="display: inline; margin-left:20%">
                <input type="checkbox"><span>동의</span>
              </div>
              <div style="display:inline; width:25%" class="pull-right">
                <input type="checkbox"><span>동의</span>
              </div>
            </div>
            <div class="row" style="text-align: center"><br>
                <button class="btn btn-primary" style="width: 100%">회원가입 완료</button>
            </div>
        </div>
      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% include "include/footer.html" %}