{% load static %}
{% include "include/header.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <section class="content-header">
          <h1>강의데이터 관리
            <small>Subject Data Management</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 강의데이터 관리</a></li>
          </ol>
      </section>
    <!-- Content Header (Page header) -->
    <section class="content container-fluid">

      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header">
            <h4>강의데이터 관리</h4>
          </div>
          <div class="box-body">
            <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <label>학교</label>
                        <select class="form-control select2">
                            {% for university in university_list %}
                                <option value="{{ university.id }}">{{ university.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <form method="get" action="">{% csrf_token %}
                    <div class="form-group col-md-4">
                        <label>과목명</label>
                        <input name="search_name" type="text" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary col-md-4" style="margin-top:24px"
                    value="{{ search_name }}">검색</button>
                    </form>
                <table class="table table-bordered table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th>교과목 코드</th>
                            <th>교과목 명</th>
                            <th>교수님 명</th>
                            <th>강의 장소</th>
                            <th>강의 요일/시간</th>
                            <th>개설년도/학기</th>
                            <th>개설 단대/학과</th>
                            <th style="width:100px">관리</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for lecture in lecture_list %}
                        <tr>
                            <td>{{ lecture.subject_id }}</td>
                            <td>{{ lecture.subject.name }}</td>
                            <td>{{ lecture.professor }}</td>
                            <td>{{ lecture.class_room }}</td>
                            <td>{% for week in lecture.lecturetime_set.all %}
                                {{ week.week }} {{ week.start_time }}~{{ week.end_time }}<br>
                            {% endfor %}</td>
                            <td>{{ lecture.opened_year }}/{{ lecture.get_opened_semester_display }}</td>
                            <td>{{ lecture.opened_college }}<br>{{ lecture.opened_department }}</td>
                            <td>
                                <button class="btn btn-warning btn-xs">수정</button>
                                <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete_modal">삭제</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
          <div class="box-footer">
              {% if is_paginated %}
                <nav style="text-align: center">
                    <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}&search_name={{ search_name }}">
                                <span>Prev</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a href="#">
                                <span>Previous</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for page in page_range %}
                        <li {% if page == page_obj.number %}class="active"{% endif %}>
                            <a href="?page={{ page }}&search_name={{ search_name }}">{{ page }}</a>
                        </li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}&search_name={{ search_name }}">
                                <span>Next</span>
                            </a>
                        </li>
                    {% else %}
                    <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
                        <a href="#">
                            <span>Next</span>
                        </a>
                    </li>
            {% endif %}
            </ul>
            </nav>
{% endif %}
          </div>
        </div>
      </div>

      <!--Delete Modal-->
        <div class="modal fade" id="delete_modal" role="dialog" style="display: none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="header"><b>정말로 삭제하시겠습니까?</b></h4>
                    </div>
                    <div class="modal-body">
                        <label>커뮤니티 그룹명</label>
                        <div class="form-control"></div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-12">
                              <button class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
                              <button class="btn btn-danger pull-right" data-dismiss="modal">삭제</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% include "include/footer.html" %}