{% load static %}
{% include "include/header.html" %}

    <div class="content-wrapper" >

    <section class="content container-fluid">
        <div class="col-md-6" style="float:none; margin:0 auto;">
            <div class="row">
                <div class="title">
                    <h2><p>개인정보 변경</p></h2>
                </div>
            </div>
            <br>
            <div class="row">
                {% if messages %}
                    <div class="alert alert-info">
                        {% for m in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</li>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ error|escape }}
                        </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
                    <div class="form-group stop-dragging">
                        <label>이메일</label>
                        <input class="form-control" style="width:100%" name="user_email" type="email" placeholder="이메일을 입력해주세요." value="{{ user.email }}" disabled>
                    </div>
            </div>
            <div class="row">
                    <div class="form-group stop-dragging">
                            <div class="form-group">
                                <label>이름</label>
                                <input class="form-control" style="width:100%"
                                       name="user_name" placeholder="이름을 입력해주세요." value="{{ user.username }}" disabled>
                            </div>
                    </div>
            </div>
            <form method="post" action="{% url 'mypage' student.id %}">{% csrf_token %}
            <div class="row">
                <div class="form-group">
                    <label>대학교</label>
                    {{ form.university }}
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>주 전공</label>
                        {{ form.major }}
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>복수 전공</label>
                    {{ form.multi_major }}
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>부 전공</label>
                    {{ form.sub_major }}
                </div>
            </div>
            <div class="row">
                    <div class="form-group">
                        <label>입학년도</label>
                        {{ form.admission_year }}
                    </div>
            </div>
            <div class="row" style="text-align: center"><br>
                <button type="submit" class="btn btn-primary" style="width: 100%">수정하기</button>
            </div>
            </form>
        </div>

    </section>
  </div>



<script>
    //대학 수정시 학과 변동
    $("select[name='university']").change(function() {
        $.ajax({
            url: '/university/api/department/',
            type: 'get',
            data: {
                'university' : $("select[name='university']").val()
            },
            success: function (result) {

                //셀렉트 박스 초기화
                $("select[name='major']").empty()
                $("select[name='multi_major']").empty()
                $("select[name='sub_major']").empty()

                $("select[name='multi_major']").append("<option value selected>없음</option>")
                $("select[name='sub_major']").append("<option value selected>없음</option>")

                //대학에 맞는 초기 학과 정보 로드
                for(var key in result){
                    $("select[name='major']").append("<option value='"+result[key].id+"'>"+result[key].college_name+" : "+result[key].name+"</option>");
                    $("select[name='multi_major']").append("<option value='"+result[key].id+"'>"+result[key].college_name+" : "+result[key].name+"</option>");
                    $("select[name='sub_major']").append("<option value='"+result[key].id+"'>"+result[key].college_name+" : "+result[key].name+"</option>");
                }

                $("select[name='major']").select2()
                $("select[name='multi_major']").select2()
                $("select[name='sub_major']").select2()

            },
            error:function(request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
            })
        })
</script>

{% include "include/footer.html" %}