{% load static %}
{% include "include/header.html" %}
<form id='info-student'>

    <input type = "hidden" name = 'user_id' value="{{ request.user.id }}"></input>

    <div class="content-wrapper" >

    <section class="content container-fluid">
        <div class="col-md-6" style="float:none; margin:0 auto;">
            <div class="row">
                <div class="title">
                    <h2><p>개인정보 변경</p>
                </div>
            </div>
            <br>
            <div class="row">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ error|escape }}
                        </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
                    <div class="form-group stop-dragging">
                        <label>이메일</label>
                        <input class="form-control" style="width:100%" name="user_email" type="email" placeholder="이메일을 입력해주세요." value="{{ user.email }}" disabled>
                    </div>
            </div>
            <div class="row">
                    <div class="form-group stop-dragging">
                            <div class="form-group">
                                <label>이름</label>
                                <input class="form-control" style="width:100%"
                                       name="user_name" placeholder="이름을 입력해주세요." value="{{ user.username }}" disabled>
                            </div>
                    </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>대학교</label>
                    {{ form.university }}
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>주 전공</label>
                        {{ form.major }}
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>복수 전공</label>
                    {{ form.multi_major }}
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>부 전공</label>
                    {{ form.sub_major }}
                </div>
            </div>
            <div class="row">
                    <div class="form-group">
                        <label>입학년도</label>
                        {{ form.admission_year }}
                    </div>
            </div>
            <div class="row"  style="text-align: center"><br>
                <button class="btn btn-primary" style="width: 100%" onclick="supdateData();">수정 완료</button>
            </div>
        </div>
    </section>
  </div>
</form>



<script>
    //대학 수정시 학과 변동
    $('#college_name').change(function() {
    $.ajax({
        url: ,
        type: ,
        data: {
        },
        success: function (result) {
            //대학에 맞는 초기 학과 정보 로드
            for(var key in result){
                $("#major_subject").append("<option value='"+result[key].meta_data_relation_code+"'>"+result[key].meta_data_relation_name+"</option>");
            }
        },
        error: function () {
            alert('error2')
        }
    })
})
</script>

{% include "include/footer.html" %}