{% load static %}
{% include "include/header.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <section class="content-header">
          <h1>특정 졸업요건 - {{ current_university.name }}/{{ current_department.name }} 관리
            <small>Detailed Graduation Add</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 특정 졸업요건 - {{ current_university.name }}/{{ current_department.name }} 관리</a></li>
          </ol>
      </section>
    <!-- Content Header (Page header) -->
    <section class="content container-fluid">

      <div class="col-md-6" style="margin-left:25%">
        <div class="box box-primary">
          <div class="box-header">
            <h4>특정 졸업요건 {% if object %}수정{% else %}생성{% endif %}</h4>
          </div>
        {% if object %}
            <form method="post" action="">
        {% else %}
            <form method="post" action="">
        {% endif %}
            {% csrf_token %}
          <div class="box-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>졸업요건 이름</label>
                        {{ form.name }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>트랙</label>
                        {{ form.track }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>과목 그룹</label>
                        {{ form.subject_group }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>상위 졸업요건</label>
                        {{ form.upper_rule }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>졸업요건 종류</label>
                        {{ form.type }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>졸업요건 지정 값(최소값)</label>
                        {{ form.value }}
                    </div>
                </div>
            </div>
          </div>
          <div class="box-footer">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary pull-right">{% if object %}수정{% else %}생성{% endif %}</button>
              </div>
          </div>
            </form>
        </div>
      </div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% include "include/footer.html" %}