{% load static %}
{% include "include/header.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <section class="content-header">
          <h1>세부 졸업요건 - 대학명
            <small>Detailed Graduation List</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 세부 졸업요건 - 대학명</a></li>
          </ol>
      </section>
    <!-- Content Header (Page header) -->
    <section class="content container-fluid">

      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header">
            <h4>세부 졸업요건 - {{ current_university.name }}</h4>
          </div>
          <div class="box-body">
            <div class="col-md-12">
              <div class="form-group col-md-3">
                <label>입학년도</label>
                <select id="search_year" class="form-control select2">
                            {% for year in years %}
                                <option value="{{ year.0 }}"
                                {% if year.0 == current_year %}selected{% endif %}
                                >{{ year.1 }}</option>
                            {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-3">
                <label>학과</label>
                <select id="search_department" class="form-control select2">
                            {% for department in departments %}
                                <option value="{{ department.id }}"
                                {% if department.id == current_department.id %}selected{% endif %}
                                >{{ department.name }}</option>
                            {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-3">
                <label>이수트랙</label>
                <select id="search_track" class="form-control select2">
                            {% for track in tracks %}
                                <option value="{{ track.id }}"
                                {% if track.id == current_track %}selected{% endif %}
                                >{{ track.name }}</option>
                            {% endfor %}
                </select>
              </div>
              <form id="search_form" method="get" action="">{% csrf_token %}
                    <button onclick="search_submit()" class="btn btn-primary col-md-3" style="margin-top:24px">조회</button>
                    </form>
              <table class="table table-bordered table-striped table-hover text-center">
                <thead>
                  <tr>
                    <th>졸업요건 이름</th>
                    <th>상위 졸업요건 이름</th>
                    <th>요건 종류</th>
                    <th>요건 값</th>
                    <th>관리</th>
                  </tr>
                </thead>
                <tbody>
                {% for rule in rulespecific_list %}
                    <tr>
                    <td>{{ rule.name }}</td>
                    <td>{{ rule.upper_rule.name }}</td>
                    <td>{{ rule.get_type_display }}</td>
                    <td>{{ rule.value }}</td>
                    <td>
                      <a href="{% url 'rule_specific_update' university=current_university.id year=current_year department=current_department.id pk=rule.id %}">
                          <button class="btn btn-warning btn-xs">수정</button></a>
                        <form class="btn btn-xs" onsubmit="submitResult('{{ rule.name }}')" method="post" action="{% url 'rule_specific_delete' university=current_university.id year=current_year department=current_department.id pk=rule.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-xs">삭제</button>
                        </form>
                    </td>
                  </tr>
                {% endfor %}
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                       <a href="{% url 'rule_specific_add' university=current_university.id year=current_year department=current_department.id %}">
                                <button class="btn btn-primary btn-xs">추가</button></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="box-footer"></div>
        </div>
      </div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<script>

    function submitResult(name){
        if( confirm(name+"을 정말 삭제하시겠습니까?")==false ){
            return false;
        }else{
            return true;
        }
    }

    function search_submit(){
        var year = $('#search_year').val()
        var track = $('#search_track').val()
        var department = $('#search_department').val()
        var action = '/graduation/rule/university/specific/1/'+year+'/'+department+'/'+track+'/'

        $('#search_form').attr('action',action)
        $('#search_form').submit()
    }
</script>

{% include "include/footer.html" %}