{% load static %}
{% include "include/header.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <section class="content-header">
          <h1>특정 졸업요건 - 대학명(생성/수정)
            <small>Detailed Graduation Add</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 특정 졸업요건 - 대학명(생성/수정)</a></li>
          </ol>
      </section>
    <!-- Content Header (Page header) -->
    <section class="content container-fluid">

      <div class="col-md-6" style="margin-left:25%">
        <div class="box box-primary">
          <div class="box-header">
            <h4>특 졸업요건 생성/수정</h4>
          </div>
          <div class="box-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>입학년도</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>이수트랙</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>학과</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>상위 졸업요건</label>
                        <select class="form-control select2" style="width:100%"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>졸업요건 이름</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>과목 그룹</label>
                        <select class="form-control select2" style="width:100%"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>졸업요건 종류</label>
                        <select class="form-control select2" style="width:100%"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>졸업요건 지정 값(최소값)</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
          </div>
          <div class="box-footer">
              <div class="col-md-12">
                <button class="btn btn-primary pull-right">생성/수정하기</button>
              </div>
          </div>
        </div>
      </div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% include "include/footer.html" %}