{% load static %}
{% include "include/header.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>수강 설계
        <small>Course Design</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 수강 설계</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="col-md-6">
            <div class="row">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4 class="title" style="font-weight: bold">수업</h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>학과 선택</label>
                                    <select class="form-control select2" style="width:100%">
                                        <option selected="selected">2</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>구분</label>
                                    <select class="form-control select2" style="width:100%">
                                        <option selected="selected">2</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" style="width: 100%;">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default" style="background-color:transparent;"><i class="fa fa-search"></i></button>
                                        <button type="button" class="btn btn-default" style="background-color:transparent" data-toggle="modal" data-target="#MyModal"><i class="fa fa-outdent"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="table-head">검색 결과</label>
                                    <table class="table table-bordered table-striped table-hover text-center" name="schedule">
                                            <thead>
                                                <tr>
                                                    <th style="width: 25%;">과목</th>
                                                    <th style="width: 9%">교수</th>
                                                    <th>강의 시간</th>
                                                    <th style="width: 12%">이수<br>구분</th>
                                                    <th style="width: 10%">학년</th>
                                                    <th style="width: 10%">학점</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for lecture in lecture_list %}
                                                <tr onclick="set_data('{{ lecture.subject.name }}')">
                                                    <td>{{ lecture.subject.name }}</td>
                                                    <td>{{ lecture.professor }}</td>
                                                    <td>{% for week in lecture.lecturetime_set.all %}
                                                        <!--{{ week.start_time|time:'H:i'}}-->
                                                    {{ week.week }} {{ week.start_time}}~{{ week.end_time }}<br>
                                                    {% endfor %}</td>
                                                    <td>{{ lecture.subject.completion_division.name }}</td>
                                                    <td>{{ lecture.class_year }}</td>
                                                    <td>{{ lecture.subject.credit }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                    {% if lecture_list.has_other_pages %}
                         <nav style="text-align: center">
                        <ul class="pagination">
                        {% if lecture_list.has_previous %}
                            <li><a href="?page={{ lecture_list.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in page_range %}
                                {% if lecture_list.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if lecture_list.has_next %}
                            <li><a href="?page={{ lecture_list.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                        </ul>
                         </nav>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
                <div class="box box-primary">
                        <div class="box-header with-border">
                            <div style="width:10%; display:inline;"><label>시간표 이름 : </label></div><input type="text" class="form-control" style="width:40%; display: inline;margin-left:20px">
                        </div>
                        <div class="box-body" id="table_body">

                    <table id="calendar_table" style="width: 100%; height:800px; text-align: center;" class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align:center">시간</th>
                                <th style="text-align:center">월요일</th>
                                <th style="text-align:center">화요일</th>
                                <th style="text-align:center">수요일</th>
                                <th style="text-align:center">목요일</th>
                                <th style="text-align:center">금요일</th>
                                <th style="text-align:center">토요일</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                        <td style="width:10%; height:9%">08:00</td>
                                        <td id="mon800" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                <div name="subject_code" style="display:none">1</div>
                                            </div>
                                        </td>
                                        <td id="tue800" style="width:15%; height:9%;">
                                                <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                        </td>
                                        <td id="wed800" style="width:15%; height:9%;">
                                                <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                        </td>
                                        <td id="thur800" style="width:15%; height:9%;">
                                                <div name="subject" style="width: 100%; height:100%;">
                                                        <div name="subject_code" style="display:none">1</div>
                                                    </div>
                                        </td>
                                        <td id="fri800" style="width:15%; height:9%;">
                                                <div name="subject" style="width: 100%; height:100%;">
                                                        <div name="subject_code" style="display:none">1</div>
                                                    </div>
                                        </td>
                                        <td id="sat800" style="width:15%; height:9%;">
                                                <div name="subject" style="width: 100%; height:100%;">
                                                        <div name="subject_code" style="display:none">1</div>
                                                    </div>
                                        </td>
                                    </tr>
                            <tr>
                                    <td style="width:10%; height:9%">09:00</td>
                                    <td id="mon900" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="tue900" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="wed900" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="thur900" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="fri900" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="sat900" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                </tr>
                            <tr>
                                    <td style="width:10%; height:9%">10:00</td>
                                    <td id="mon1000" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="tue1000" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="wed1000" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="thur1000" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="fri1000" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="sat1000" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                </tr>
                            <tr>
                                    <td style="width:10%; height:9%">11:00</td>
                                    <td id="mon1100" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="tue1100" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="wed1100" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="thur1100" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="fri1100" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="sat1100" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                </tr>
                            <tr>
                                    <td style="width:10%; height:9%">12:00</td>
                                    <td id="mon1200" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="tue1200" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="wed1200" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="thur1200" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="fri1200" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="sat1200" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                </tr>
                            <tr>
                                    <td style="width:10%; height:9%">13:00</td>
                                    <td id="mon1300" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="tue1300" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="wed1300" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="thur1300" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="fri1300" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="sat1300" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                </tr>
                            <tr>
                                    <td style="width:10%; height:9%">14:00</td>
                                    <td id="mon1400" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="tue1400" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="wed1400" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="thur1400" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="fri1400" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="sat1400" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                </tr>
                            <tr>
                                    <td style="width:10%; height:9%">15:00</td>
                                    <td id="mon1500" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="tue1500" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="wed1500" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="thur1500" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="fri1500" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="sat1500" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                </tr>
                            <tr>
                                    <td style="width:10%; height:9%">16:00</td>
                                    <td id="mon1600" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="tue1600" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="wed1600" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="thur1600" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="fri1600" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="sat1600" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                </tr>
                            <tr>
                                    <td style="width:10%; height:9%">17:00</td>
                                    <td id="mon1700" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="tue1700" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                <div name="subject_code" style="display:none">1</div>
                                            </div>
                                    </td>
                                    <td id="wed1700" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="thur1700" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="fri1700" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="sat1700" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                </tr>
                            <tr>
                                <td style="width:10%; height:9%">18:00</td>
                                <td id="mon1800" style="width:15%; height:9%;">
                                        <div name="subject" style="width: 100%; height:100%;">
                                                <div name="subject_code" style="display:none">1</div>
                                            </div>
                                </td>
                                <td id="tue1800" style="width:15%; height:9%;">
                                        <div name="subject" style="width: 100%; height:100%;">
                                                <div name="subject_code" style="display:none">1</div>
                                            </div>
                                </td>
                                <td id="wed1800" style="width:15%; height:9%;">
                                        <div name="subject" style="width: 100%; height:100%;">
                                                <div name="subject_code" style="display:none">1</div>
                                            </div>
                                </td>
                                <td id="thur1800" style="width:15%; height:9%;">
                                        <div name="subject" style="width: 100%; height:100%;">
                                                <div name="subject_code" style="display:none">1</div>
                                            </div>
                                </td>
                                <td id="fri1800" style="width:15%; height:9%;">
                                        <div name="subject" style="width: 100%; height:100%;">
                                                <div name="subject_code" style="display:none">1</div>
                                            </div>
                                </td>
                                <td id="ex" style="width:15%; height:9%;">
                                        <div id="ex2" name="subject" style="width: 100%; height:100%;">
                                                <div name="subject_code" style="display:none">1</div>
                                            </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                      <div class="col-md-12">
                        <div class="row">
                          <button class="btn btn-primary pull-right">저장하기</button>
                        </div>
                      </div>
                    </div>


          <!--------------------------
            | Your Page Content Here |
            -------------------------->
          </div>
        </div>

        <div class="modal fade" id="MyModal" role="dialog" style="display: none">
            <div class="modal-dialog">
                <div class="modal-content" style="border-radius: 10px;">
                    <div class="modal-header">
                        <h4><label>검색 필터</label></h4>
                    </div>
                    <div class="modal-body">
                        <div class="title"><h4><label>교수명</label></h4>
                            <select class="form-control select2" style="width:40%">
                                <option selected="selected">교수이름을 검색해주세요.</option>
                                <option>김효준</option>
                                <option>배우열</option>
                                <option>백승수</option>
                            </select>
                        </div>
                        <br>
                        <hr>
                        <div class="title"><h4><label>요일</label></h4>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span class="col-md-2">
                                      월
                                    <input type="checkbox" class="minimal">
                                    </span>
                                    <span class="col-md-2">
                                      화
                                    <input type="checkbox" class="minimal">
                                    </span>
                                    <span class="col-md-2">
                                      수
                                    <input type="checkbox" class="minimal">
                                    </span>
                                    <span class="col-md-2">
                                      목
                                    <input type="checkbox" class="minimal">
                                    </span>
                                    <span class="col-md-2">
                                      금
                                    <input type="checkbox" class="minimal">
                                    </span>
                                    <span class="col-md-2">
                                      토
                                    <input type="checkbox" class="minimal">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div class="title"><h4><label>시간</label></h4></div>
                        <br>
                        <hr>
                        <div class="title"><h4><label>학년</label></h4>
                            <div class="form-group">
                                <span class="col-md-3">
                                    1학년
                                    <input type="checkbox" class="minimal">
                                </span>
                                <span class="col-md-3">
                                    2학년
                                    <input type="checkbox" class="minimal">
                                </span>
                                <span class="col-md-3">
                                    3학년
                                    <input type="checkbox" class="minimal">
                                </span>
                                <span class="col-md-3">
                                    4학년 이상
                                    <input type="checkbox" class="minimal">
                                </span>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div class="title"><h4><label>학점</label></h4>
                            <div class="form-group">
                                <span class="col-md-3">
                                    1학점
                                    <input type="checkbox" class="minimal">
                                </span>
                                <span class="col-md-3">
                                    2학점
                                    <input type="checkbox" class="minimal">
                                </span>
                                <span class="col-md-3">
                                    3학점
                                    <input type="checkbox" class="minimal">
                                </span>
                                <span class="col-md-3">
                                    4학점
                                    <input type="checkbox">
                                </span>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12">
                            <button class="btn btn-primary pull-right" data-dismiss="modal" style="width:30%">적용</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<script>
    function set_data(name){
        alert(name)
    }
</script>

{% include "include/footer.html" %}