{% load static %}
{% include "include/header.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>수강 설계
        <small>Course Design</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 수강 설계</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="col-md-6">
            <div class="row">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4 class="title" style="font-weight: bold">수업</h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>학과 선택</label>
                                    <select id="department_select" class="form-control select2" style="width:100%">
                                        <option value="">전체 학과</option>
                                        {% for department in department_list %}
                                            <option value="{{ department.pk }}"
                                            {% if department.opened_department == student_department %}
                                                selected
                                            {% endif %}>{{ department.opened_department }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>이수 구분</label>
                                    <select id="division_select" class="form-control select2" style="width:100%">
                                        <option selected="selected" value="">전체</option>
                                        {% for division in division_list %}
                                            <option value="{{ division.id }}">{{ division.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" style="width: 100%;">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default" style="background-color:transparent;"><i class="fa fa-search"></i></button>
                                        <button type="button" class="btn btn-default" style="background-color:transparent" data-toggle="modal" data-target="#MyModal"><i class="fa fa-outdent"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="table-head">검색 결과</label>
                                    <table class="table table-bordered table-striped table-hover text-center" name="schedule">
                                            <thead>
                                                <tr>
                                                    <th style="width: 25%;">과목</th>
                                                    <th style="width: 9%">교수</th>
                                                    <th>강의 시간</th>
                                                    <th style="width: 12%">이수<br>구분</th>
                                                    <th style="width: 10%">학년</th>
                                                    <th style="width: 10%">학점</th>
                                                </tr>
                                            </thead>
                                            <tbody id="subject_table">
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
                <div class="box box-primary">
                        <div class="box-header with-border">
                            <div style="width:10%; display:inline;"><label>시간표 이름 : </label></div><input type="text" class="form-control" style="width:40%; display: inline;margin-left:20px">
                        </div>
                        <div class="box-body" id="table_body">

                    <table id="calendar_table" style="width: 100%; height:800px; text-align: center;" class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align:center">시간</th>
                                <th style="text-align:center">월요일</th>
                                <th style="text-align:center">화요일</th>
                                <th style="text-align:center">수요일</th>
                                <th style="text-align:center">목요일</th>
                                <th style="text-align:center">금요일</th>
                                <th style="text-align:center">토요일</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                        <td style="width:10%; height:9%">08:00</td>
                                        <td id="mon0800" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                <div name="subject_code" style="display:none">1</div>
                                            </div>
                                        </td>
                                        <td id="tue0800" style="width:15%; height:9%;">
                                                <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                        </td>
                                        <td id="wed0800" style="width:15%; height:9%;">
                                                <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                        </td>
                                        <td id="thu0800" style="width:15%; height:9%;">
                                                <div name="subject" style="width: 100%; height:100%;">
                                                        <div name="subject_code" style="display:none">1</div>
                                                    </div>
                                        </td>
                                        <td id="fri0800" style="width:15%; height:9%;">
                                                <div name="subject" style="width: 100%; height:100%;">
                                                        <div name="subject_code" style="display:none">1</div>
                                                    </div>
                                        </td>
                                        <td id="sat0800" style="width:15%; height:9%;">
                                                <div name="subject" style="width: 100%; height:100%;">
                                                        <div name="subject_code" style="display:none">1</div>
                                                    </div>
                                        </td>
                                    </tr>
                            <tr>
                                    <td style="width:10%; height:9%">09:00</td>
                                    <td id="mon0900" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="tue0900" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="wed0900" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="thu0900" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="fri0900" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="sat0900" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                </tr>
                            <tr>
                                    <td style="width:10%; height:9%">10:00</td>
                                    <td id="mon1000" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="tue1000" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="wed1000" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="thu1000" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="fri1000" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="sat1000" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                </tr>
                            <tr>
                                    <td style="width:10%; height:9%">11:00</td>
                                    <td id="mon1100" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="tue1100" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="wed1100" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="thu1100" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="fri1100" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="sat1100" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                </tr>
                            <tr>
                                    <td style="width:10%; height:9%">12:00</td>
                                    <td id="mon1200" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="tue1200" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="wed1200" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="thu1200" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="fri1200" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="sat1200" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                </tr>
                            <tr>
                                    <td style="width:10%; height:9%">13:00</td>
                                    <td id="mon1300" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="tue1300" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="wed1300" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="thu1300" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="fri1300" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="sat1300" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                </tr>
                            <tr>
                                    <td style="width:10%; height:9%">14:00</td>
                                    <td id="mon1400" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="tue1400" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="wed1400" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="thu1400" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="fri1400" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="sat1400" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                </tr>
                            <tr>
                                    <td style="width:10%; height:9%">15:00</td>
                                    <td id="mon1500" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="tue1500" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="wed1500" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="thu1500" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="fri1500" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="sat1500" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                </tr>
                            <tr>
                                    <td style="width:10%; height:9%">16:00</td>
                                    <td id="mon1600" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="tue1600" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="wed1600" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="thu1600" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="fri1600" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="sat1600" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                </tr>
                            <tr>
                                    <td style="width:10%; height:9%">17:00</td>
                                    <td id="mon1700" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="tue1700" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                <div name="subject_code" style="display:none">1</div>
                                            </div>
                                    </td>
                                    <td id="wed1700" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="thu1700" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="fri1700" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                    <td id="sat1700" style="width:15%; height:9%;">
                                            <div name="subject" style="width: 100%; height:100%;">
                                                    <div name="subject_code" style="display:none">1</div>
                                                </div>
                                    </td>
                                </tr>
                            <tr>
                                <td style="width:10%; height:9%">18:00</td>
                                <td id="mon1800" style="width:15%; height:9%;">
                                        <div name="subject" style="width: 100%; height:100%;">
                                                <div name="subject_code" style="display:none">1</div>
                                            </div>
                                </td>
                                <td id="tue1800" style="width:15%; height:9%;">
                                        <div name="subject" style="width: 100%; height:100%;">
                                                <div name="subject_code" style="display:none">1</div>
                                            </div>
                                </td>
                                <td id="wed1800" style="width:15%; height:9%;">
                                        <div name="subject" style="width: 100%; height:100%;">
                                                <div name="subject_code" style="display:none">1</div>
                                            </div>
                                </td>
                                <td id="thu1800" style="width:15%; height:9%;">
                                        <div name="subject" style="width: 100%; height:100%;">
                                                <div name="subject_code" style="display:none">1</div>
                                            </div>
                                </td>
                                <td id="fri1800" style="width:15%; height:9%;">
                                        <div name="subject" style="width: 100%; height:100%;">
                                                <div name="subject_code" style="display:none">1</div>
                                            </div>
                                </td>
                                <td id="sat1800" style="width:15%; height:9%;">
                                        <div id="ex2" name="subject" style="width: 100%; height:100%;">
                                                <div name="subject_code" style="display:none">1</div>
                                            </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                      <div class="col-md-12">
                        <div class="row">
                          <button class="btn btn-primary pull-right">저장하기</button>
                        </div>
                      </div>
                    </div>


          <!--------------------------
            | Your Page Content Here |
            -------------------------->
          </div>
          <div class="box box-primary">
              <div class="box-header with-border">선택 과목</div>
              <div class="box-body">
                  <table class="table table-bordered table-striped table-hover text-center" id="select-subject">
                      <thead>
                          <tr>
                              <th>과목</th>
                              <th>교수</th>
                              <th>강의 시간</th>
                              <th>이수구분</th>
                              <th>학년</th>
                              <th>학점</th>
                              <th>관리</th>
                          </tr>
                      </thead>
                      <tbody id="select_subject_list">
                      </tbody>
                  </table>
              </div>
              <div class="box-footer"></div>
          </div>
        </div>

        <div class="modal fade" id="MyModal" role="dialog" style="display: none">
            <div class="modal-dialog">
                <div class="modal-content" style="border-radius: 10px;">
                    <div class="modal-header">
                        <h4><label>검색 필터</label></h4>
                    </div>
                    <div class="modal-body">
                        <div class="title"><h4><label>교수명</label></h4>
                            <select class="form-control select2" style="width:40%">
                                <option selected="selected">교수이름을 검색해주세요.</option>
                                <option>김효준</option>
                                <option>배우열</option>
                                <option>백승수</option>
                            </select>
                        </div>
                        <br>
                        <hr>
                        <div class="title"><h4><label>요일</label></h4>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span class="col-md-2">
                                      월
                                    <input type="checkbox" class="minimal">
                                    </span>
                                    <span class="col-md-2">
                                      화
                                    <input type="checkbox" class="minimal">
                                    </span>
                                    <span class="col-md-2">
                                      수
                                    <input type="checkbox" class="minimal">
                                    </span>
                                    <span class="col-md-2">
                                      목
                                    <input type="checkbox" class="minimal">
                                    </span>
                                    <span class="col-md-2">
                                      금
                                    <input type="checkbox" class="minimal">
                                    </span>
                                    <span class="col-md-2">
                                      토
                                    <input type="checkbox" class="minimal">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div class="title"><h4><label>시간</label></h4></div>
                        <br>
                        <hr>
                        <div class="title"><h4><label>학년</label></h4>
                            <div class="form-group">
                                <span class="col-md-3">
                                    1학년
                                    <input type="checkbox" class="minimal">
                                </span>
                                <span class="col-md-3">
                                    2학년
                                    <input type="checkbox" class="minimal">
                                </span>
                                <span class="col-md-3">
                                    3학년
                                    <input type="checkbox" class="minimal">
                                </span>
                                <span class="col-md-3">
                                    4학년 이상
                                    <input type="checkbox" class="minimal">
                                </span>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div class="title"><h4><label>학점</label></h4>
                            <div class="form-group">
                                <span class="col-md-3">
                                    1학점
                                    <input type="checkbox" class="minimal">
                                </span>
                                <span class="col-md-3">
                                    2학점
                                    <input type="checkbox" class="minimal">
                                </span>
                                <span class="col-md-3">
                                    3학점
                                    <input type="checkbox" class="minimal">
                                </span>
                                <span class="col-md-3">
                                    4학점
                                    <input type="checkbox">
                                </span>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12">
                            <button class="btn btn-primary pull-right" data-dismiss="modal" style="width:30%">적용</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <script>
        function set_data(name){
            alert(name)
        }
    
        $(document).ready(function(){
            reload();
        })
    
        function reload(){
            $.ajax({
            url: '/lecture/api/lecture/',
            type: 'get',
            data: {
                'department':$('#department_select').val(),
                'division':$('#division_select').val()
                },
            success: function (result) {
    
              //엠프티
              $('#subject_table').empty()
            
            var tr_data;
            var week;
            var start_time;
            var end_time;
            
            for(var key in result.results){
                tr_data = "<tr onclick=set_schedule_data('"+result.results[key].id+"')><td>"+result.results[key].subject.name+"</td><td>"+result.results[key].professor+"</td><td>"
                for(var key2 in result.results[key].times){
                    week = result.results[key].times[key2].week
                    start_time = result.results[key].times[key2].start_time
                    end_time = result.results[key].times[key2].end_time
    
                    tr_data += week+" "+start_time+"-"+end_time+"<br>"
                }
                tr_data += "</td><td>"+result.results[key].subject.completion_division.name+"</td><td>"+result.results[key].class_year+"</td><td>"+result.results[key].subject.credit+"</td></tr>"
                
                $('#subject_table').append(tr_data)
            }
    
              
            },
            error:function(request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
            }) 
        }
        var add_subject = 0;

        //div 정보 용
        var schedule_array = new Array()
        // 스케쥴 겹치는거 확인용
        var schedule_dict = {
            "mon" : {
                "0800" : false,
                "0900" : false,
                "1000" : false,
                "1100" : false,
                "1200" : false,
                "1300" : false,
                "1400" : false,
                "1500" : false,
                "1600" : false,
                "1700" : false,
                "1800" : false,
                "1900" : false,
                "2000" : false

            },
            "tue" : {
                "0800" : false,
                "0900" : false,
                "1000" : false,
                "1100" : false,
                "1200" : false,
                "1300" : false,
                "1400" : false,
                "1500" : false,
                "1600" : false,
                "1700" : false,
                "1800" : false,
                "1900" : false,
                "2000" : false

            },
            "wed" : {
                "0800" : false,
                "0900" : false,
                "1000" : false,
                "1100" : false,
                "1200" : false,
                "1300" : false,
                "1400" : false,
                "1500" : false,
                "1600" : false,
                "1700" : false,
                "1800" : false,
                "1900" : false,
                "2000" : false

            },
            "thu" : {
                "0800" : false,
                "0900" : false,
                "1000" : false,
                "1100" : false,
                "1200" : false,
                "1300" : false,
                "1400" : false,
                "1500" : false,
                "1600" : false,
                "1700" : false,
                "1800" : false,
                "1900" : false,
                "2000" : false

            },
            "fri" : {
                "0800" : false,
                "0900" : false,
                "1000" : false,
                "1100" : false,
                "1200" : false,
                "1300" : false,
                "1400" : false,
                "1500" : false,
                "1600" : false,
                "1700" : false,
                "1800" : false,
                "1900" : false,
                "2000" : false

            },
            "sat" : {
                "0800" : false,
                "0900" : false,
                "1000" : false,
                "1100" : false,
                "1200" : false,
                "1300" : false,
                "1400" : false,
                "1500" : false,
                "1600" : false,
                "1700" : false,
                "1800" : false,
                "1900" : false,
                "2000" : false

            }
        }

        function set_schedule_data(id){


            $.ajax({
            url: '/lecture/api/lecture/'+id+"/",
            type: 'get',
            data: {},
            
            success: function (result) {
                var week;
                for(var key in result.times){
                    if(result.times[key].week == '월'){
                        week = 'mon'
                    }else if(result.times[key].week == '화'){
                        week = 'tue'
                    }else if(result.times[key].week == '수'){
                        week = 'wed'
                    }else if(result.times[key].week == '목'){
                        week = 'thu'
                    }else if(result.times[key].week == '금'){
                        week = 'fri'
                    }else if(result.times[key].week == '토'){
                        week = 'sat'
                    }
                    alert(week)
                    add_schedule(week ,result.times[key].start_time, result.times[key].end_time, result.name, result.subject.code)
                }
                $('#select_subject_list').append('<tr><td>'+result.subject.name+'</td><td>'+result.professor+'</td><td>'+result.times[key].week + result.times[key].start_time +'-'+ result.times[key].end_time+'</td><td>'+result.subject.completion_division.name+'</td><td>'+result.class_year+'</td><td>'+result.subject.credit+'</td><td><button onclick=select_delete(this) class="btn btn-xs btn-danger">삭제</button></td></tr>')
            },
            error:function(request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
            }) 
        }
        
        //시간표에 div 생성

        function add_schedule(day, start_time, end_time, subject_name, subject_code){

            //check time
            if(!check_time(day, start_time, end_time)){
                alert('과목 시간을 확인해주세요!')
                return
            }

            //div position
            div_position = calculate_schedule(day, start_time, end_time)
            
            //div id
            var subject_add_id = parseInt(schedule_array.length)
            subject_add_id ++;

            //div add
            schedule = new Array();
            schedule.push(subject_add_id)
            schedule.push(day)
            schedule.push(start_time)
            schedule.push(end_time)
            schedule.push(div_position)
            schedule.push(subject_name)
            schedule.push(subject_code)

            $('#table_body').prepend(
            "<div id='subject_add_"+subject_add_id+"' style='position:absolute;text-align:center;top:"+div_position[0]+"px; left:"
            +div_position[1]+"px; background-color:#BBDEFB; width:"+div_position[2]+"px; height:"+div_position[3]+
            "px; z-index:99'><div style='margin-top:170px'><span>"+subject_name+
            "</span><br><button class='btn btn-xs btn-warning''>수정</button><button class='btn btn-xs btn-danger' onclick=delete_subject('"
            +subject_code+"') id='delete_this'>삭제</button></div></div>"
            
            )

            schedule_array.push(schedule)
            console.log(schedule_array)
        }

        function resize_schedule(day, start_time, end_time){

            for(key in schedule_array){
                div_position = calculate_schedule(schedule_array[key][1], schedule_array[key][2], schedule_array[key][3])
                schedule_array[key][4] = div_position

                $('#subject_add_'+schedule_array[key][0]).css("top",div_position[0])
                $('#subject_add_'+schedule_array[key][0]).css("left",div_position[1])
                $('#subject_add_'+schedule_array[key][0]).css("width",div_position[2])
                $('#subject_add_'+schedule_array[key][0]).css("height",div_position[3]) 
            }
        }

        function calculate_schedule(day, start_time, end_time){
            
            start_time = start_time.replace(':','')
            end_time = end_time.replace(':','')

            var div_top_ex1 = $('#'+day+start_time).position().top + 2;
            var div_left_ex1 = $('#'+day+start_time).position().left + 2;

            var div_width_ex1 = $('#'+day+start_time).outerWidth() ;
            var div_height_ex1 = $('#'+day+start_time).outerHeight() ;

            var div_top_ex2 = $('#'+day+end_time).position().top;
            var div_left_ex2 = $('#'+day+end_time).position().left;

            var div_width_ex2 = $('#'+day+end_time).outerWidth() ;
            var div_height_ex2 = $('#'+day+end_time).outerHeight();

            var height = div_top_ex2-div_top_ex1+div_height_ex1+3

            div_top_ex1 += $('#calendar_table').position().top
            div_left_ex1 += $('#calendar_table').position().left
            
            var div_position = [div_top_ex1, div_left_ex1, div_width_ex1, height]

            return div_position
        }

        function delete_subject(subject_code){
            console.log('delete')
            //삭제용 array
            delete_array = new Array()

            var find_flag = false

            for(var key in schedule_array){
                if(schedule_array[key][6] == subject_code){
                    //div 삭제 
                    $('#subject_add_'+schedule_array[key][0]).remove()

                    //schedule_dict 삭제
                    for(var key2 in schedule_dict[schedule_array[key][1]]){
                        if(find_flag==false){
                            if(key2 == schedule_array[key][2]){
                                find_flag = true
                                schedule_dict[schedule_array[key][1]][key2] = false
                            }
                        }else{
                            schedule_dict[schedule_array[key][1]][key2] = false
                            if(key2 == schedule_array[key][3]){
                                find_flag = false
                            }
                        }
                    }

                    //array 삭제
                    
                    console.log('dlete_subject key='+key)
                    console.log(schedule_array)
                    delete_array.push(key)
                }
            }

            //삭제를 위한 역순 정렬
            delete_array.reverse()
            for(var key in delete_array){
                schedule_array.splice(delete_array[key], 1)
            }
            console.log('dlete_subject')
            console.log(schedule_dict)
            console.log(schedule_array)
        }

        function check_time(day, start_time, end_time){
            console.log('check time')
            var find_array = new Array()
            var find_flag = false

            for(var key in schedule_dict){
                if(key == day){
                    //충돌 확인 및 저장 데이터 세이브
                    for(var key2 in schedule_dict[key]){
                        if(find_flag == false){
                            if(start_time == key2){
                                find_array.push(key2)
                                find_flag = true

                                //충돌
                                if(schedule_dict[key][key2] == true)
                                    return false
                            }
                        }else{
                            find_array.push(key2)

                            //충돌
                            if(schedule_dict[key][key2] == true)
                                    return false

                            if(end_time == key2){
                                find_flag = false
                            }
                        }
                        
                    }
                }
            }

            // dict true 셋팅
            for(var key in schedule_dict[day]){
                for(var key2 in find_array){
                    if(find_array[key2] == key){
                        schedule_dict[day][key] = true
                    }
                }
            }

            console.log(find_array)

            console.log(schedule_dict)
            return true
        }

        $(window).resize(function(){
            resize_schedule()
        })

        function select_delete(data){
            $(data).parent().parent().remove()
        }

    </script>
    

{% include "include/footer.html" %}