{% load static %}
{% include "include/header.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <section class="content-header">
          <h1>과목그룹 관리
            <small>Subject Group Management</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 과목그룹 관리</a></li>
          </ol>
      </section>
    <!-- Content Header (Page header) -->
    <section class="content container-fluid">

      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h4>과목그룹 관리</h4>
          </div>
          <div class="box-body">
                <div class="col-md-12">
                    <div class="form-group col-md-8">
                        <label>대학교</label>
                        <form id="search_form" method="get" action="">{% csrf_token %}
                        <select id="search_select" onchange="form_submit()" class="form-control select2">
                            {% for university in university_list %}
                                <option value="{{ university.id }}"
                                        {% if university.id == current_university %}selected{% endif %}>{{ university.name }}</option>
                            {% endfor %}
                        </select>
                        </form>
                    </div>
                    <a href="{% url 'subject_group_add' university=current_university %}"><button class="btn btn-primary col-md-4" style="margin-top:24px">생성</button></a>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered table-striped table-hover text-center">
                        <thead>
                            <tr>
                                <th class="col-md-4">과목그룹 이름</th>
                                <th class="col-md-5">이수구분 리스트</th>
                                <th style="width:100px">관리</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for subjectgroup in subjectgroup_list %}
                            <tr>
                                <td>{{ subjectgroup.name }}</td>
                                <td>{% for division in subjectgroup.completion_divisions.all %}[{{ division.name }}]{% endfor %}</td>
                                <td>
                                    <a href="{% url 'subject_group_update' university=current_university pk=subjectgroup.id %}">
                                        <button class="btn btn-warning btn-xs">수정</button></a>
                                    <form onsubmit="submitResult('{{ subjectgroup.name }}')" class="btn btn-xs" method="post" action="{% url 'subject_group_delete' university=current_university pk=subjectgroup.id %}">{% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-xs">삭제</button></form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-footer">
            </div>
          </div>

        </div>
    </section>


      <!--------------------------
        | Your Page Content Here |
        -------------------------->


    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<script>

    function submitResult(name){
        if( confirm(name+"을 정말 삭제하시겠습니까?")==false ){
            return false;
        }else{
            return true;
        }
    }

    function form_submit(){
        var action = "/graduation/subject/group/"
        action += $('#search_select').val()+'/'
        $('#search_form').attr('action', action)
        $('#search_form').submit()
    }

</script>

{% include "include/footer.html" %}