{% load static %}
{% include "include/header.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <section class="content-header">
          <h1>과목그룹 관리
            <small>Subject Group Management</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 과목그룹 관리</a></li>
          </ol>
      </section>
    <!-- Content Header (Page header) -->
    <section class="content container-fluid">

      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h4>과목그룹 관리</h4>
          </div>
          <div class="box-body">
                <div class="col-md-12">
                    <div class="form-group col-md-8">
                        <label>대학교</label>
                        <select class="form-control select2"></select>
                    </div>
                    <button class="btn btn-primary col-md-4" style="margin-top:24px">생성</button>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered table-striped table-hover text-center">
                        <thead>
                            <tr>
                                <th class="col-md-4">과목그룹 이름</th>
                                <th class="col-md-5">이수구분 리스트</th>
                                <th style="width:100px">관리</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <button class="btn btn-warning btn-xs">수정</button>
                                    <button class="btn btn-danger btn-xs">삭제</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-footer">
            </div>
          </div>

        </div>
    </section>


      <!--------------------------
        | Your Page Content Here |
        -------------------------->


    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% include "include/footer.html" %}