{% load static %}
{% include "include/header.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <section class="content-header">
          <h1>과목 데이터
            <small>Subject Data</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 과목 데이터</a></li>
          </ol>
      </section>
    <!-- Content Header (Page header) -->
    <section class="content container-fluid">

      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h4>과목 데이터</h4>
          </div>
          <div class="box-body">
            <div class="col-md-12">
            <form id="search_form" method="get" action="">{% csrf_token %}</form>
                    <div class="form-group col-md-2">
                        <label>학교</label>
                        <select id="search_university" class="form-control select2" onchange="form_submit()">
                            {% for university in university_list %}
                                <option value="{{ university.id }}"
                                {% if university.id == current_university %}
                                    selected
                                {%endif%}
                                >{{ university.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label>이수구분</label>
                        <select id="search_division" class="form-control select2" onchange="form_submit()">
                            <option value="0">전체</option>
                            {% for division in division_list %}
                                <option value="{{ division.id }}"
                                {% if division.id == current_division %}
                                    selected
                                {%endif%}
                                >{{ division.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label>영역</label>
                        <select id="search_area" class="form-control select2" onchange="form_submit()">
                            <option value="0">전체</option>
                            {% for area in area_list %}
                                <option value="{{ area.id }}"
                                {% if area.id == current_area %}
                                    selected
                                {%endif%}
                                >{{ area.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <form action="" method="get">{% csrf_token %}
                    <div class="form-group col-md-4">
                        <label>과목명</label>
                        <input name="search_name" type="text" class="form-control" value="{{ search_name }}">
                    </div>
                    <button type="submit" class="btn btn-primary col-md-2" style="margin-top:24px">검색</button>
                    </form>


                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-hover text-center">
                            <thead>
                                <tr>
                                    <th>과목</th>
                                    <th>대학</th>
                                    <th>이수구분</th>
                                    <th>영역</th>
                                    <th>학점</th>
                                    <th style="width:150px">관리</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for subjcet in subject_list %}
                                <tr>
                                    <td>{{ subjcet.name }}</td>
                                    <td>{{ subjcet.university.name }}</td>
                                    <td>{{ subjcet.completion_division.name }}</td>
                                    <td>{{ subjcet.area.name }}</td>
                                    <td>{{ subjcet.credit }}</td>
                                    <td>
                                        <button class="btn btn-warning btn-xs">수정</button>
                                        <button class="btn btn-danger btn-xs">삭제</button>
                                        <button class="btn btn-primary btn-xs">강의</button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>
          <div class="box-footer">
              {% if is_paginated %}
                <nav style="text-align: center">
                    <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}&search_name={{ search_name }}">
                                <span>Prev</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a href="#">
                                <span>Previous</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for page in page_range %}
                        <li {% if page == page_obj.number %}class="active"{% endif %}>
                            <a href="?page={{ page }}&search_name={{ search_name }}">{{ page }}</a>
                        </li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}&search_name={{ search_name }}">
                                <span>Next</span>
                            </a>
                        </li>
                    {% else %}
                    <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
                        <a href="#">
                            <span>Next</span>
                        </a>
                    </li>
            {% endif %}
            </ul>
            </nav>
{% endif %}
          </div>
        </div>
      </div>

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<script>
    function form_submit(){
        var action = "/lecture/subject/"
        action += $('#search_university').val()+'/'+$('#search_division').val()+'/'+$('#search_area').val()+'/'
        $('#search_form').attr('action', action)
        $('#search_form').submit()
    }
</script>

{% include "include/footer.html" %}